PATH=/Users/antonischristou/Desktop/beethoven:/Users/antonischristou/.rvm/gems/ruby-2.7.0/bin:/Users/antonischristou/.rvm/gems/ruby-2.7.0@global/bin:/Users/antonischristou/.rvm/rubies/ruby-2.7.0/bin:/Users/antonischristou/.rbenv/shims:/Users/antonischristou/homebrew/bin:/usr/local/Cellar/ruby/2.4.1_1/bin:/Users/antonischristou/Commands:/Library/Frameworks/Python.framework/Versions/3.8/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/antonischristou/.rvm/bin
SHELL=/bin/bash
* * * * * source $HOME/.bash_profile &&  ~/Desktop/beethoven/tweet.sh
